body{ /*reference in lecture's tutorial*/
	font-family: Helvetica, Arial, sans-serif;
	background-color: #E5E5E5;
}
div{
	padding:1em;
	border:1px solid black;
}

.nav-button nav{ /*reference in lecture's tutorial*/
	display:block;
	padding:0rem;
	
}
.nav-button a{
	color:white;
	text-decoration:none;
}
.nav-button a:hover, .nav-button a:focus{
	color:#D4D4D4;
	
}

.nav-button ul{	

	list-style-type:none;	
	margin:0;
	padding:0;
	display:block;

}
.nav-button li{
	display: inline-block;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    background-color: #1E1E20;
	
}

.nav-button li:hover{
	background-color: #818181;
}
p{
	width: clamp(45ch, 70%, 75ch);
}
code{
	width: clamp(45ch, 70%, 75ch);
}
.submit-button{
	display:inline-block;
	color: white;
	background-color: #1E1E20;
	font-size: 1.25rem;
	text-decoration: none;
	padding:0.5em 1em 0.5em 1em;
	border:none;
}
.submit-button:hover, .submit-button:focus{
	background-color: #464648;
	color:white;
}
.reset-button{
	border: 3px solid white;
	display:inline-block;
	color: white;
	background-color: #1E1E20;
	font-size: 1.25rem;
	text-decoration: none;
	padding:0.4em 1em 0.4em 1em;
	
}
.reset-button:hover, .reset-button:focus{
	background-color: #464648;
	color:white;
	stroke:white;
}
.intext{
	color:#1E1E20;
	font-style:italic;
}
.intext:hover, .intext:focus{	
	color: #B1B1B1;
}
h2{
	color: #D27B3D;
}
p{
	font-size:100%;
}

.nav-button-checkout {
	display: inline-block;
    margin: 0 0 0em 0 ;
    padding: 1em 1em 1em 1em;
    background-color: #464648;
	text-decoration: none;
	text-align:center;
	color:#FFFFFF;
}
.nav-button-checkout:hover{
	background-color: #464648;
	text-decoration: none;
}
.nav-button-addtobag {
	text-decoration: none;
	text-align:center;
	display: inline-block;
    margin: 0 0 0em 0 ;
    padding: 1em 1em 1em 1em;
    background-color: #1E1E20;

	color:#FFFFFF;
}
.nav-button-addtobag:hover{
	background-color: #464648;
	text-decoration: none;
}

.item{
	line-height:180%;
	text-align:center;
	border: none;
}
.right{
	line-height:180%;
	text-align:right;
	border: none;
}
.align,.left{
	line-height:180%;
	border: none;
}
.background-color{

}
.center{
	width:435.75px;
	padding:0em 0em 1em 0em;
	text-align: center;
	border-bottom:1px solid black;
}
#item-image{
	padding: 0em 25% 0em 25%;
	border: none;
}
#item-details{
	padding: 0em 25% 0em 25%;
	border: none;
}
.all{
	 border: none;
}
.shipping{
	text-decoration: none;
	text-align:center;
	display: inline-block;
    margin: 0 0 0em 0 ;
    padding: 1em 1em 1em 1em;
    border:1px solid black;

	color:#000000;
}
.para-align{
	width: clamp(40ch, 70%, 50ch);
}
#shopping-detail,#total,.no-border, #product-introduction {
	border:none;
}
.title3{
	font-size:1.2rem;
}
/*for CTA */
/*import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Didact+Gothic&display=swap');


.CTA1{
    height: 100%;
    font-size: 4rem;
	color:white;
	border-bottom:1px solid white;
	letter-spacing: 3px;

}
.brand{
	color:white;
	font-size:2.0rem;
	padding:0;
letter-spacing: 3px;
text-decoration: none;
	font-family: Bodoni Moda, san-serif;
}
.title1 {
	font-size: 2rem;
	text-decoration:none;
	font-family: Didact Gothic,  sans-serif;
	
	color:white;
}
.centered{
	text-align:center;
}
.left{
	text-align:left;
	color:white;
	padding-left:2rem;
}
.right{
	text-align:right;
	color:white;
	
}
/*main navigation, alignment needs fixing with grid*/
.main-nav-button a{

 

	transition-duration: 0.3s;
	display: inline-block;
	color: rgb(180, 180, 180);
	font-size: 0.8rem;
	text-decoration: none;
	padding: 0 0.8em 2em 0.8em;

	font-family: Didact Gothic, sans-serif;

	border:none;

}

.main-nav-button a:hover, .main-nav-button a:focus{
	color: white;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/CTA.png");
	border-bottom: none;
  /* Set a specific height */
  height: 562px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-content {
  text-align: center;
  font-family: Bodoni Moda, serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(230, 230, 230);
  margin: 0.625rem;
}

.hero-button {
	transition-duration: 0.3s;
	font-size: 1rem;
	background-color: rgb(23, 23, 23);
	color: rgb(200, 200, 200);
	padding: 0.8em 0.8em 0.8em 0.8em;
	margin: 0.7em;
	font-family: Didact Gothic, sans-serif;
}
.hero-button:hover {
	background-color: rgb(89, 89, 89);
	color: white;
}
/*footer CSS section testing*/

footer{
	position: static;
	bottom: 0;
}
.footer-distributed{
	background-color: rgb(25, 25, 25);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 3em;
	padding-top: 2em;
	padding-bottom: 2em;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right,
.footer-distributed .footer-store-info{
	display: inline-block;
	vertical-align: top;
}

 
.footer-distributed .footer-left{
	width: 20%;
}
 
.footer-distributed h3{
	color: rgb(150, 150, 150);
	font-size: 0.8rem;
	font-family: Didact Gothic, sans-serif;
	margin: 0.2rem;
	margin-bottom: 1rem;
	letter-spacing: 0.1rem;
}

/*need to change to a and a hover after */
.footer-distributed a,.whitetext{
	font-size: 0.8rem;
	font-family: Didact Gothic, sans-serif;
	color: rgb(210, 210, 210);
	margin: 0.3rem;
	text-decoration:none;
} 

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 0.8rem;
	margin: 0.2rem;
	margin-top: 0.5rem;
}
 
.footer-distributed .footer-center{
	width: 20%;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-store-info {
	width: 35%;
}

/*form submit section*/
input[type=text], select, textarea {
	width: 35%;
	padding: 0.2rem;
	margin-left: 0.2rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	font-family: Didact Gothic, sans-serif;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	background-color: rgb(180, 180, 180);
	border: none;
}

input[type=submit] {
	margin: 0.1rem;
	font-family: Didact Gothic, sans-serif;
	font-size: 0.8rem;
	background-color: rgb(40, 40, 40);
	color: rgb(200, 200, 200);
	border: none;
	padding-right: 0.7rem;
	padding-left: 0.7rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

input[type=submit]:hover, :focus {
	background-color: rgb(60, 60, 60);
}

.footer-distributed .footer-links {
	color:  #8f9296;
	font-size: 0.8rem;
	margin: 0.2rem;
	margin-top: 0.2rem;
}
.flinks{
	border:none;
	padding:0;
}
@media (max-width: 58em) {
	.footer-distributed{
		font-family: Didact Gothic, sans-serif;	
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right,
.footer-distributed .footer-store-info{
	display: block;
	width: 100%;
	margin-bottom: 40px;

	
}



}