*{
	box-sizing:border-box;
}
.backtotop-button{
	margin-top:4rem;
}
.grid-container {
	display: grid;
	grid-template-columns:repeat(12, 1fr);
	grid-column-gap: 0.25rem;
	min-height: 25vh;
	background-color:white;
}


/*For Homepage */
.first-image-hp{
	grid-column:2/13;
	display: grid;
	grid-template-columns: 1fr;
	padding:4rem;
}

.second-image-hp{
	grid-column:3/11;
	display: grid;
	grid-template-columns: 1fr;
	
}

.block-1-hp{
	grid-template-columns: 1fr 1fr;	
	display: grid;
}

.third-image-hp{
	grid-column:1/13;
	display: grid;
	grid-template-columns: 1fr ;
}


.fourth-image-hp{
	grid-column:1/13;
	display: grid;
	grid-template-columns: 1fr;
	padding-top: 6rem;
	padding-bottom: 2rem;
}

@media screen and (max-width: 80em) {
	.block-1-hp{
		grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
	}
	.second-image-hp{
		grid-column:1/13;
	}
}

/*For Category page */
.filter-bar{
	padding-top:1rem;
	grid-column:1/13;
	display: grid;	
}
.block-1-cate{
	padding-top:2rem;
	grid-column:2/12;
	grid-template-columns: 1fr 1fr 1fr 1fr;	
	display: grid;
	column-gap: 40px;
}
.man-shirt{
	grid-column:0/2;
	grid-template-columns: 1fr 1fr;	
	display: grid;
}
.sort-by{
	grid-column:12/13;
	grid-template-columns: 36% 36% 36% ;	
	display: grid;
	padding-top:1rem;
}
.only{
	width:18px;
	background-color:white;
}
@media screen and (max-width: 60em) {

	.block-1-cate{		
		grid-column:1/13;
		grid-template-columns: 1fr;	
		display: grid;
		margin:auto;
		padding-top:0;
	}
	.filter-bar{
		padding-top:0rem;
		grid-column:1/13;		
		display: grid;	
	}
	.man-shirt{
		visibility: hidden;
		height:1rem;
	}
	.sort-by{
		padding-top:0;
		grid-column:1/13;		
		grid-template-columns: 1fr 1fr 1fr ;	
		display: grid;
		
	}

}

/* For Product detail */
.main-thing{
	grid-column:3/11;
	display: grid;
	grid-template-columns: 1fr 1fr ;
	padding-top:4rem;
}
.infor-pro{
	padding-left:4rem;
	padding-right:4rem;
	
}
.final-divide-pro{
	display: grid;
	grid-template-columns: 20%  79% ;
	column-gap:4px;	
}
.image-pro-1,.devided-pro{
	margin:auto;
}
.images-and-shipping{
	width:auto;;
}
.styleit{
	padding:2rem;
}

.style-it{
	grid-column:1/13;
	display: grid;
	grid-template-columns:  1fr ;
}
.block-1-pro{
	grid-column:1/12;
	grid-template-columns: 1fr 1fr 1fr 1fr;	
	display: grid;
	margin:auto;
	column-gap: 4rem;	
}


@media screen and (max-width: 60em) {
	.block-1-pro, .main-thing{
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
	img{
	width:238px;
	height:388px;
	}
	.images-and-shipping{
		width:238px;
		margin:auto;
	}
	.infor-pro{
		padding-left:1rem;
		padding-right:1rem;
	}
	.block-1-pro{
		grid-column:1/12;
		grid-template-columns: 1fr;	
		display: grid;
		margin:auto;
	}
	.main-thing{
		grid-column:2/12;
		display: grid;
		grid-template-columns: 1fr ;
		padding-top:1rem;
	}
	.final-divide-pro{
	display: grid;
	grid-template-columns: 1fr ;
	column-gap:4px;	
}
}


/* For client services */
.image-services{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img-category/cover-service.png");
  /* Set a specific height */
  height: 20%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.clientservices{
	position:absolute;
	left:43%;
	top:20%;
	color:white;
	font-weight:lighter;
	font-size:2rem;
}

.menu-services{
	padding-top:2rem;
	padding-bottom:8rem;
	grid-column:3/11;
	grid-template-columns: 20% 80%;	
	display: grid;
	column-gap:1rem;
}
@media screen and (max-width: 60em) {
	.menu-services{
		padding-top:2rem;
		padding-bottom:8rem;
		grid-column:2/12;
		grid-template-columns: 100%;	
		display: grid;
		column-gap:1rem;
	}

	.clientservices{
		position:absolute;
		left:33%;
		top:33%;
		color:white;
		font-weight:lighter;
		font-size:1rem;
}
	.image-services{
	grid-column:1/13;
	margin:auto;
	position:relative;
	
}

}


/* For Bag */
.text-ontop-bag{
	grid-column:1/13;
}
.image-text-bag{
	grid-column:1/3;
}
.infor-for-bag{
	grid-column:3/5;	
}
.image-1-bag{
	
	height:auto;
	margin:auto;
}
.colored{
	background-color:#E7E7E7;
}
.colored1{
	background-color:#1E1E20;	
}
.nav-button-checkout,.nav-button-shopping{
	color:#F1F1F1;
	text-decoration:none;
	font-weight:lighter;
}
.colored2{
	background-color:#414143;
	
}
.all{
	text-align:center;
	display: grid;
	grid-template-columns: 1fr ;
}
#total{
	display: grid;
	grid-template-columns: 1fr 1fr ;
	width:270px;
	height:auto;
}
.right{
	text-align:right;
}
.image-with-text-bag{
	display: grid;
	grid-template-columns: 1fr 1fr ;
}
.blocks-0-bag{
	grid-column:3/11;
	display: grid;
	
}
@media screen and (max-width: 60em) {
	, .image-text-bag,.blocks-0-bag{
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
	.infor-for-bag{
		grid-column:1/6;	
	}
.blocks-0-bag{
	display: grid;
	grid-template-columns: 1fr ;
}
.image-text-bag{
	grid-column:1/10;
}
.image-with-text-bag{
	display: grid;
	grid-template-columns: 1fr ;

}
.image-1-bag{
	height:390px;
	
}
#total{
	width:200px;
	height:auto;
}
.infor-for-bag{
	margin:auto;
	width:238px;
		
}

img{
	width:168px;
	height:auto;
}
.movedown{
	padding-bottom:2rem;
}
}


/* For men */
.first-image-men,.second-image-men{
	grid-column:3/11;
	display: grid;
	margin-top: 4rem;
	grid-template-columns: 1fr ;
}

.block-1-men{
	display: grid;
	grid-template-columns: 1fr 1fr ;
}

.block-2-men{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 0.1rem;
	margin-top: 0.1rem;
}

@media screen and (max-width: 70em) {
	.block-1-men, .block-2-men {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}

	.image-1-men, .image-2-men {
		margin: auto;
	}

	.just-text-men-1, .just-text-men-2 {
		margin: auto;
		width: 50%;
		text-align: center;
	}

}

/* For new collection */
.blocks-collection{
	grid-column:1/13;
	display: grid;
	grid-template-columns: 1fr  ;
	margin-top: 3rem;
}

@media screen and (max-width: 60em) {
	.image-1-colcon p, .image-2-colcon p,
	.image-3-colcon p{
		font-size: 0.8rem;
	}
	.image-1-colcon h3, .image-2-colcon h3,
	.image-3-colcon h3{
		font-size: 1.2rem;
		margin-bottom: 0.2rem;
	}
}

/*For Story page */
.blocks-story{
	grid-column:1/13;
	display: grid;
	grid-template-columns: 1fr  ;
	margin-top: 3rem;
}

@media screen and (max-width: 60em) {
	.image-1-content p, .image-2-content p,
	.image-3-content p, .image-4-content p,
	.image-5-content p{
		font-size: 0.8rem;
	}
	.image-1-content h3, .image-2-content h3,
	.image-3-content h3, .image-4-content h3,
	.image-5-content h3{
		font-size: 3rem;
		margin-bottom: 0.2rem;
	}
}

/*.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}*/

