@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Didact+Gothic&display=swap');
/*import fonts*/

body, html {
    height: 100%;
    font-size: 16px;
}
option{
	
	color:white;
}
.moved{
	padding:2rem;
}

header{
	padding-top:1rem;
	padding-bottom:1rem;
	background-color:#1E1E20;
	color:white;
}
.allbutton1{
	padding:1em;
	
}
.allbutton{
	padding:1em;
	border:1px solid black;
}
.intext{
	font-weight:bold;
	font-style:italic;
}
.brand{
	font-family: Bodoni Moda;
	font-size:2rem;
	font-weight:lighter;
}
.whitecolor{
	color:white;
}

.nav-button a{
	transition-duration: 0.3s;
	font-weight: lighter;
	text-decoration: none;
	display: inline-block;
	color: rgb(200, 200, 200);
}

.nav-button a:hover{
	display: inline-block;
	color: white;
}

/*a{
	font-weight:lighter;
	color:black;
	text-decoration:none;
	display: inline-block;
}*/
nav a{
	  width: 7%; 
}
@media screen and (max-width: 60em) {
	.nav-button a{
		text-decoration:none;
		display: block;
		width: 100%;
		text-align: center;
	}
}
h2{
	font-size:1rem;
	
}
.centered,p,.changedfont{
	font-family: Didact Gothic, sans-serif;
}

h3 {
	font-family: Bodoni Moda;
	font-size: 1.6rem;
	letter-spacing: 0.12rem;
	margin-bottom: 3rem;
	font-weight: lighter;
}


.centered{
	text-align:center;
}

/*button styling*/

.mens-button {
  top: 80%;
  transition-duration: 0.3s;
  font-size: 0.9rem;
  background-color: rgb(23, 23, 23);
  color: rgb(200, 200, 200);
  padding: 0.8em 0.8em;
  font-family: Didact Gothic, sans-serif;
  text-decoration: none;
}
.mens-button:hover {
  background-color: rgb(89, 89, 89);
  color: white;
}

/*home page (HP)*/
.first-image-hp {
	position: relative;
	margin-top: 4rem;
}

.first-image-1 img {
	display: block;
	width: 45%;
	height: auto;
	/*min-width: 300px;*/
}

.first-image-content {
	position: absolute;
	top: 50%;
	left: 68%;
	transform: translate(-50%, -50%);
}

.first-image-content .first-image-btn {
	margin-top: 2.5rem
}
/*LUSANE X DIOR END*/

/*HP ATLAS WORLD*/
.second-image-hp {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 4rem;
	width: 100%;
}

.second-image-hp h3{
	margin-bottom: 0.2rem;
}

.second-image-1 {
	position: relative;
	display: block;
	margin-top: 0.5rem;
/*	margin-left: auto;
	margin-right: auto;*/
	height: auto;	
}

.second-image-1 .mens-button{
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.second-image-2 {
	position: relative;
	display: block;
	margin-top: 0.5rem;
/*	margin-left: auto;
	margin-right: auto;*/
	height: auto;	
}

.second-image-2 .mens-button{
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*HP aboutus (history) section*/
.third-image-hp {
  text-align: center;
  position: relative;
  margin-top: 4rem;
}

.third-image-hp h3 {
	margin-bottom: 1rem;
}

.third-image-1 img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
}

.third-image-1 h3{
  font-size: 10rem;
  font-weight: lighter;
  position: absolute;
  color: white;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.third-image-content p{
	text-align: center;
	padding-bottom: 0.8rem;
}


/*HP CATALOGUE SECTION*/
.fourth-image-hp {
	position: relative;
	text-align: center;
	margin-top: 4rem;
}

.fourth-image-1 img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
}

.fourth-image-content{
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fourth-image-1 .mens-button{
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*HOME PAGE CSS ENDS*/

/*MENS PAGE START*/

.just-text-men-1 {
	width: 11em;
	margin-top: 5rem;
	margin-left: 2.5rem;
}
.mens-button-margin {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.just-text-men-2 {
	text-align: right;
	width: 11em;
	margin-top: 10rem;
	margin-left: 10rem;
}

/*HP CATEGORY SECTION START*/

.second-image-men h3 {
	text-align: center;
}

.category-1, .category-2, .category-3, .category-4{
	position: relative;
	display: block;
	margin: auto;
	height: auto;
}

.category-h3 {
	margin-bottom: 1rem;
}

.category-1-btn, .category-2-btn, .category-3-btn, .category-4-btn{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
}


/*MENS PAGE ENDS*/





/*ABOUT HISTORY PAGE START*/
.image-1-story, .image-2-story,
.image-3-story, .image-4-story,
.image-5-story {
	position: relative;
	text-align: center;
}

.story-h3{
	font-size: 8rem;
	color: rgb(230, 230, 230);
	margin-bottom: 1rem;
}

.image-1-story img, .image-2-story img,
.image-3-story img, .image-4-story img,
.image-5-story img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
	filter: brightness(35%);
}

.image-1-content, .image-2-content,
.image-3-content, .image-4-content,
.image-5-content{
  position: absolute;
  color: rgb(230, 230, 230);
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*hero banner for all pages*/
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/CTA.png");

  /* Set a specific height */
  height: 60%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-content {
  text-align: center;
  font-family: Bodoni Moda, serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(230, 230, 230);
  margin: 0.3rem;
}

.hero-button {
	transition-duration: 0.3s;
	font-size: 0.9rem;
	background-color: rgb(23, 23, 23);
	color: rgb(200, 200, 200);
	padding: 0.8rem;
	margin: 0.7rem;
	font-family: Didact Gothic, sans-serif;
	text-decoration: none;
}
.hero-button:hover {
	background-color: rgb(89, 89, 89);
	
}
/*hero end*/



/*footer for all pages*/
footer{
	position: static;
	bottom: 0;
}

/*back to top button*/
.backtotop-button {
	display: block;
	width: 100%;
	border: none;
	transition-duration: 0.3s;
	font-size: 0.7rem;
	color: rgb(200, 200, 200);
	background-color: rgb(40, 40, 40);
	text-decoration: none;
	font-family: Didact Gothic, sans-serif;
	text-align: center;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}
.backtotop-button:hover {
	color: white;
	background-color: rgb(55, 55, 55);
}
/*backtotop ends*/

/*footer info section*/
.footer-distributed{
	background-color: rgb(25, 25, 25);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 3em;
	padding-top: 2em;
	padding-bottom: 2em;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right,
.footer-distributed .footer-store-info {
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 20%;
}
 
.footer-distributed h3{
	color: rgb(150, 150, 150);
	font-size: 0.8rem;
	font-family: Didact Gothic, sans-serif;
	margin: 0.2rem;
	margin-bottom: 1rem;
	letter-spacing: 0.1rem;
}

/*need to change to a and a hover after */
.footer-distributed a, .footer-distributed p{
	font-size: 0.7rem;
	transition-duration: 0.3s;
	font-family: Didact Gothic, sans-serif;
	color: rgb(180, 180, 180);
	margin: 0.3rem;
	text-decoration: none;
	
} 

.footer-distributed a:hover, .footer-distributed a:focus{
	color: white;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 0.7rem;
	margin: 0.2rem;
	margin-top: 0.5rem;
}
 
.footer-distributed .footer-center{
	width: 20%;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-store-info {
	width: 35%;
}

/*form submit section*/
input[type=text], select, textarea {
	width: 35%;
	padding: 0.2rem;
	margin-left: 0.2rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	font-family: Didact Gothic, sans-serif;
	font-size: 0.7rem;
	letter-spacing: 0.1rem;
	background-color: rgb(180, 180, 180);
	border: none;
}

input[type=submit] {
	margin: 0.1rem;
	font-family: Didact Gothic, sans-serif;
	font-size: 0.8rem;
	background-color: rgb(40, 40, 40);
	color: rgb(200, 200, 200);
	border: none;
	padding-right: 0.7rem;
	padding-left: 0.7rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

input[type=submit]:hover, :focus {
	background-color: rgb(60, 60, 60);
}

.footer-distributed .footer-links {
	color:  #8f9296;
	font-size: 0.7rem;
	margin: 0.2rem;
	margin-top: 0.2rem;
}
 
@media (max-width: 880px) {
	.footer-distributed{
		font-family: Didact Gothic, sans-serif;	
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right,
.footer-distributed .footer-store-info{
	display: block;
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
}
}





