
* {
	box-sizing: border-box;
}

.grid-container{
	display: grid;
	grid-template-columns:repeat(12, 1fr); 
	margin-top: 2rem;
 
}

.mens-collab-grid{
	grid-column: 3/8;
}

.mens-collab-text-grid{
	grid-column: 8/12;
	margin-left: -3.5rem;
	margin-top: 3rem;
}

.mens-readytowear-text-grid {
	grid-column: 6/8;
	text-align: right;
	margin-left: -2.5rem;
	margin-top: 3rem;
	width:10em;
}

.mens-readytowear-grid {
	grid-column: 8/12;
	margin-left: -3.5rem;
	margin-top: -6rem;
}